.bgimage {
height: 800px;
background:navy ; 
background-size: cover;
position: relative;
}

.navbar-toggler{
    color: olive;
    background-color: papayawhip;
    border-color: olivedrab;
    padding: 2px 5px;
    line-height: 10px;
}

.hero-text {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

.hero_desc {
    font-size: 10px;
}

.hero_title {
    font-size: 15px;
}

.imageAboutPage {
    width: 300px;
    height: 300px;
}


.servicesIcon {
    font-size: 35px;
    width: 150%;
    text-align: center;
}

.card:hover .servicesIcon {
    color: papayawhip;
}

.servicesText:hover {
    border: 1px solid #008000;
}

.servicesText.card {
    height: 280px;
    cursor: pointer;
  }

  .card-title {
    text-align: center;
}

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}